<ion-view title='Quality Of Life' >
    <!--hide-back-button="true"-->
<!--<ion-view title="Quality Of Life" class="home-title" hide-back-button="true">-->
    <!--<ion-nav-buttons side="left">-->
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon" style="margin-left: -20px;"></button>-->
    <!--</ion-nav-buttons>-->

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" style="margin-left: -20px;"></button>
    </ion-nav-buttons>

    <ion-content class="has-header home-view" has-bouncing="true">
        <div class="category-view">
            <div class="inner-category-view" >
                <div class="category-card category-strength" id="strength-box" >
                    <a href="#/odh1/nutrient">
                        <div class="category-flex" style="text-align:center">
                            <h3 style="margin-left:0px;">NUTRIENT VALUES</h3>
                            <p style="margin-left:0px;">RESOURCE THAT LISTS 19 NUTRIENTS FOR 1000 OF THE FOODS MOST COMMONLY CONSUMED IN CANADA</p>
                        </div>
                    </a>
                </div>
                <div class="category-card category-stretch" id="stretch-box" >
                    <a href="#/odh1/childcare">
                        <div class="category-flex" style="text-align:center">
                            <h3 style="margin-left:0px;">CHILD CARE CENTRES</h3>
                            <p style="margin-left:0px;">THIS DATA SET INCLUDES CHILD CARE CENTRES, BOTH PUBLIC AND PRIVATE, LOCATED IN THE REGION OF PEEL</p>
                        </div>
                    </a>
                </div>
                <div class="category-card category-custom" id="akp1custom-box" >
                    <a href="#/odh1/bmi">
                        <div class="category-flex" style="text-align:center">
                            <h3 style="margin-left:0px;">NATURAL HEALTH PRODUCTS</h3>
                            <p style="margin-left:0px;">GLOSSASRY OF APPROVED NATURAL PRODUCTS</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
