<ion-view title="Data Source" hide-back-button="true">

    <!--<ion-nav-buttons side="left">-->
    <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    <!--</ion-nav-buttons>-->

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" style="margin-left: -20px;"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <div class="paddingtrue">
            <img src="img/code2015.png" width="100%" />
            <p>
            </p>

            <hr />

            <h3><center>SUBMISSION</center></h3>
            <p class="extra-left">
                This document contains the details for the entry of "Team CornerStone" for the 2015 open data hackathon event.
            </p>


            <h3><center>SUBMISSION CATEGORY</center></h3>
            <p class="extra-left">
                We used the <b>Quality of Life: Healthy Living</b> category to create a mobile app
            </p>
            <hr />

            <h3><center>DATASETS USED</center></h3>
            <p class="extra-left">
                We used the <b>Quality of Life: Healthy Living</b> category to create a mobile app
            </p>
            <hr />

            <h3><center>TEAM PARTICIPANTS</center></h3>
            <p class="center">
                <img src="img/round_anil.png" width="50px"/>
                <br>Anil Kumar Pushpan
                <br>anilkp@gmail.com
            </p>
            <p class="center">
                <img src="img/round_amano.png" width="50px"/>
                <br>Anthony Mano
                <br>amano@iam-data.com
            </p>
            <p class="center">
                <img src="img/round_mahesh.png" width="50px"/>
                <br>Mahesh Thakkar
                <br>maheshthakkar@gmail.com
            </p>

            <hr />

        </div>
    </ion-content>

</ion-view>